.contact-section {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header-info {
  color: white;
  padding-bottom: 30px;
  text-align: center;
}

.contact-header-info h1 {
  font-size: 55px;
}

.contact-header-info h2 {
  font-size: 40px;
}

.contact-header-info p {
  font-size: 14px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 1000px;
  max-width: 1060px;
  border-radius: 10px;

}

.contact-form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  color: rgb(182, 176, 176);
}

.name-box,
.email-box,
.inquiry-box,
.message-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.form label {
  font-size: 18px;
  padding-bottom: 10px;
}

.form input,
.form textarea,
.form select {
  box-sizing: border-box;
  width: 500px;
  padding: 12px 14px;
  border-radius: 10px;
  background-color: rgba(7, 9, 12, 0.55);
  border: 2.4px solid #9d9d9e;
  color: #e5e7eb;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  transition: border-color 0.3s ease;
  outline: none;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none ;
  cursor: pointer;
  text-align: start;
  padding-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath d='M0 0l5 6 5-6H0z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
}

.form select option {
  background-color: #111318;
  color: #e5e7eb;
  padding: 10px;
  border-radius: 50px;
}

.contact-form input[type="text"]:focus,
.contact-form [type="email"]:focus,
.contact-form [name="inquiry"]:focus,
.contact-form [name="message"]:focus {
  border-color: #00eaff;
}

#submit-btn {
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  padding: 12px 14px;
  border: 3px solid #00c1cc;
  border-radius: 10px;
  background: none;
  color: #00eaff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#submit-btn:hover {
  background-color: #00c1cc;
  color: black;
}

#submit-btn:active {
  background-color: #009ea3;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  -webkit-text-fill-color: #e5e7eb !important;
  -webkit-box-shadow: 0 0 0px 1000px #0b1024 inset !important;
  box-shadow: 0 0 0px 1000px #0e191b inset !important;
  transition: background-color 9999s ease-in-out 0s;
}

.form input:-moz-autofill {
  -moz-text-fill-color: #e5e7eb !important;
  box-shadow: 0 0 0px 1000px #0b1024 inset !important;
}

.tourist-assistance-card {
  width: 400px;
  height: 350px;
  background-color: rgba(7, 9, 12, 0.55);
  border: 2px solid #9d9d9e;
  border-radius: 14px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin-top: 60px;
}

.tourist-assistance-card h3 {
  font-weight: normal;
}

.tourist-assistance-card p {
  color: #94a3b8;
}


