.divider-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: #14141436;
  overflow: hidden;
}

.divider-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
}

.carousel-wrapper {
  width: 100%;  
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: scroll-logo 25s linear infinite;
}

.carousel-track:active{
    animation-play-state: paused;
}

@keyframes scroll-logo {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.logo-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 130px;
  height: 160px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.logo-item img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-item:nth-child(4) img,
.logo-item:nth-child(11) img {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.logo-overlay {
  position: absolute;
  bottom: 0;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.logo-item:nth-child(7) .logo-overlay,
.logo-item:nth-child(14) .logo-overlay {
  transform: translateY(22px);
}

.logo-item:hover .logo-overlay {
  opacity: 1;
}

.divider-section::before,
.divider-section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.divider-section::before {
  left: 0;
  background: linear-gradient(to right, #121212, transparent);
}

.divider-section::after {
  right: 0;
  background: linear-gradient(to left, #121212, transparent);
}
