.my-header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 0.5s ease;
}

.header-layout-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}

.logo-container,
.contact-us-container {
    text-align: center;
    flex: 1;
}
.logo-container {
    text-align: left;
}
.contact-us-container{
    text-align: right;
}
.logo-container a {
    display: inline-block;
    padding-top: 5px;
    transition: color 0.2s, transform 0.2s;
}

.logo-container a:hover {
    color: #00FFEA;
    transform: scale(1.1);
}


.contact-us-container a {
    width: 187px;
    margin-right: 10px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.3s, border-color 0.3s;
}

.contact-us-container a:hover {
    background-color: white;
    color: black;
}

.navigations{
    flex: 2;
    display: flex;
    justify-content: center;
}

.navigations ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.navigations a,
.dropdown-menu a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    padding-bottom: 5px;
    transition: color 0.15s;
}

.navigations a:hover,
.dropdown-menu a:hover {
    color: #00eaff;
}


.navigations a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00eaff;
    transition: width 0.2s, background-color 0.3s;
}

.navigations a:hover::after {
    width: 100%;
}
