.ratings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  min-height: 90vh;
  background: url(../images/mayon-ratings-bg.jpg) center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.ratings-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  z-index: -1;
}
 
.ratings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:120px;
  color: white;
  width: 100%;
}

.r-header-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.3;
  width: 360px;
}

.r-header-title span {
  font-weight: 700;
}

.r-header-description {
  width: 500px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.6;
}

.ratings-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 50px;
  justify-items: center;
}

.r-card {
  width: 300px;
  height: 240px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}

.r-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 100%, transparent 60%);
  border-radius: 10px;
  z-index: -1;
}

.avatar-head {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar-head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}

.user-place {
  color: rgba(255, 255, 255, 0.45);
}

.star-ratings {
  display: flex;
  gap: 4px;
}

.fa-solid.fa-star {
  color: #ffda44;
}

.ratings-description p {
  padding: 10px;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  line-height: 1.5;
}
