.explore-section{
    width:100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap:40px;
   
}
.explore-header-text{
    width:100%;
    background: linear-gradient(to right, #E53935, #FCBC00, #FDD835);
    background-clip:text;
    color: transparent;
    -webkit-background-clip: text;
    display: inline;
    text-align: center;
}

.explore-header-text h1{
    font-size:70px;
}

.explore-header-text p {
    color: white;
    font-size: 14px;
}
.explore-cards-wrapper{
    width:100%;
}
.explore-cards-track{
    display: flex;
    align-items: center;
    gap: 40px;
    width: max-content;
    animation: scroll-cards 25s linear infinite;
}

.explore-cards-track:active{
    animation-play-state: paused;
}

@keyframes scroll-cards {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.card{
    width:280px;
    height:339px;
    border:1px solid white;
    border-radius:10px;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.card img {
    width:100%;
    height:100%;
    object-fit: cover; 
    border-radius:10px;
}
.card::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 8%, transparent 60%);
    border-radius:10px;
    z-index:1;
}

.card-description-text{
    position: absolute;
    bottom:26px;
    left:10px;
    z-index:2;
}
.card-description-text h1{
    color:white;
    line-height: 34px;
}
.card-description-text p {
    color:white;
    font-size:11px;
    padding-top:5px;
    letter-spacing: 2px;
}
.card-description-text a{
    color:white;
    text-decoration: none;
    transition: color 0.2s;
}
.card-description-text a:visited{
    color:white;
}
.card-description-text a:hover{
    color:#00eaff;
}

