.my-footer {
  background-color: #1e1e1e; 
  padding: 60px 100px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-about img {
  margin-bottom: 15px;
  transition: transform 0.15s;
}

.footer-about img:hover{
  transform: scale(1.07);
}

.footer-about p {
  font-size: 14px;
  color: #d4d4d4;
  line-height: 1.6;
}

.social-icons a {
  color: #eaeaea;
  margin-right: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #00eaff;
  transform: translateY(-2px);
}

.footer-links h3,
.footer-explore h3,
.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-links a,
.footer-explore a {
  text-decoration: none;
  color: #c7c7c7;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-explore a:hover {
  color: #00eaff;
}

.footer-contact p {
  font-size: 14px;
  color: #c7c7c7;
  margin: 6px 0;
}

.footer-contact i {
  margin-right: 8px;
  color: #00eaff;
}
.footer-bottom {
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom hr {
  border: 0;
  height: 1px;
  background-color: #333;
  margin-bottom: 15px;
}

.my-footer li {
    list-style-type: none;
}

strong{
    color: #00eaff;
;
}