* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0A0A0A;
}

body,html{
     overflow-x: hidden;
}

p{  
    color:white;
}

